:root {
    /* theme*/
    --theme: 'zarr';
    /* palette */
    --primary: #13240F;
    --secondary: #198A00;
    --background: #DFF0DB;
    --tag: #EF7D00;
    --tag-dark: #EF7D00;
    --tag-light: #EF7D00;
    --tag-background: #FCF0E3;
    --dark: #13240F;
    --light: #FFFFFF;
    --primary65: #9ad98c;
    --primary25: #DFF0DB;
    --primary10: #EBF1EA;
    --neutral-light-grey:#e6e7e8;
    --A11y: #757575;
    --highlight-box-bgcolor: #192f14;
    /* fonts */
    --default-font-weight: 700;
    --default-font-size: 18px;
    --default-line-height: 20px;
    --default-font-family: 'Inter';
    --default-font-color: #13240F;
    /* logo vertical bar (right) */
    --logo-left-v-bar-display: none; /* or inline-block if shown */
    --logo-left-v-bar-padding-right: 10px; /* set to 19px if visible */
    /* promoted background color */
    --promoted-background-color: #13240F;
    /* insights */
    --lower-container-display: flex;  /* set to flex to show */
    --after-insights-min-height: 400px;
    /* masthead */
    --masthead-visibility: block;
    --development-banner-visibility: block;
    --locales-visibility: none;
    /* recently updated */
    --recently-updated-title-visibility: none;
    /* footer */
    --footer-search-section-padding-top: 64px;
    --footer-search-section-padding-bottom: 0px;
    /* badge */
    --badge-font-size: 0.7em;
    /* user profile */
    --breadcrumbs-color: #FFFFFF;
    /* breadcrumbs */
    --breadcrumbs-text-decoration: none;
    --breadcrumbs-font-weight: 700;
}

