git+https://github.com/fjelltopp/ckanext-blob-storage@5b2f59217e8f88a3f2cdb9dc50bf4099d9abe0de#egg=ckanext-blob-storage
git+https://github.com/datopian/ckanext-authz-service@bd4c80f55a714c1117a0e130d07463e383c494c7#egg=ckanext-authz-service
git+https://github.com/ckan/ckanext-scheming@899a3bce5f5ac05bd4e612213ec9138b536f3076#egg=ckanext-scheming
giftless-client==0.1.1
boto3==1.28.52
