{% macro get_pkg_value(pkg_dict, field_name) %}
    {% if field_name in pkg_dict %}
      {{ pkg_dict[field_name] }}
    {% else %}
      {% for extra in pkg_dict.extras %}
        {% if extra.key == field_name %}
          {{ extra.value }}
        {% endif %}
      {% endfor %}
    {% endif %}
{% endmacro %}


<section class="additional-info">
  <h3>{{ _('Metadata') }}</h3>
  {% block package_additional_info_for_zarr %}

    {% set groups = {} %}
    {% for field in schema.dataset_fields %}
      {% if field.display_group %}
        {% if field.display_group not in groups %}
          {% do groups.update({field.display_group: []}) %}
        {% endif %}
        {% do groups[field.display_group].append(field) %}
      {% endif %}
    {% endfor %}

    {% for group, fields in groups.items() %}
      {% set ns = namespace(show_group=false, value='') %}
      {% for field in fields %}
        {% set value = get_pkg_value(pkg_dict, field.field_name) | trim %}
        {% if value != '' and value != '[]' %}
          {% set ns.show_group = true %}
        {% endif %}
      {% endfor %}

      {% if ns.show_group %}
      <h4 class="schema-group">{{ _(group) }}</h4>
      <table class="table table-condensed">
        <tbody>
          {% for field in fields %}
            {% set ns.value = get_pkg_value(pkg_dict, field.field_name) | trim %}
            {% if ns.value != '' and ns.value != '[]' %}
            {% if field.field_name not in exclude_fields and field.display_snippet is not none %}
              <tr>
                <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
                <td class="dataset-details"{% if field.display_property %} property="{{ field.display_property }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
                </td>
              </tr>
            {% endif %}
          {% endif %}
          {% endfor %}
          {% if group == 'Overview' %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Visibility") }}</th>
              <td class="dataset-details">
                {% if pkg_dict.private %}
                  {{ _("Private") }}
                {% else %}
                  {{ _("Public") }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    {% endif %}
    {% endfor %}
    {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
      <h4 class="schema-group">{{ _("Dataset Status") }}</h4>
      <table class="table table-condensed">
        <tbody>
          <tr>
            <th scope="row" class="dataset-label">{{ _("State") }}</th>
            <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
          </tr>
        </tbody>
      </table>
    {% endif %}

  {% endblock %}
</section>