{% ckan_extends %}

{% set dataset = h.get_dataset_from_id(pkg_name) %}

{% block basic_fields_url %}
    {% asset 'zarr/FileInputComponentStyles' %}
    <div
        id="FileInputComponent"
        data-lfsServer="{{ h.blob_storage_server_url() }}"
        data-maxResourceSize="{{ h.max_resource_size() }}"
        data-orgId="{{ dataset.organization.name }}"
        data-datasetName="{{ dataset.name }}"
        data-existingUrlType="{{ data.url_type if data else '' }}"
        data-existingUrl="{{ data.url if data else '' }}"
        data-existingSha256="{{ data.sha256 if data else '' }}"
        data-existingFileName="{{ h.blob_storage_resource_filename(data) if data else '' }}"
        data-existingSize="{{ data.size if data else '' }}"
    >       
        {% if data.url %}
            {% if data.url_type == 'upload' %}
                <h3 class="text-muted">
                    <span><i class="fa fa-spinner fa-spin"></i> {{ _('Loading') }}</span>
                </h3>
            {% else %}
                <div>
                    <label class="control-label">{{ _('URL')}}</label>
                    <div class="input-group field-url-input-group">
                        <input
                            type="text"
                            placeholder="{{ _('Loading') }}..."
                            class="form-control"
                        />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">{{ _('Remove') }}</button>
                        </span>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="dropzone text-muted">
                <h3><i class="fa fa-spinner fa-spin"></i> {{ _('Loading') }}</h3>
            </div>
        {% endif %}
    </div>
    {% asset 'zarr/FileInputComponentScripts' %}
{% endblock %}
