{% ckan_extends %}

{% block top_container_title %}{{ _('Find out more about the repository') }}{% endblock %}

{% block top_container %}
    <div class="row insight-row insights-upper-item">
        <div class="d-flex justify-content-center">
            <figure class="figure">
                <iframe class="figure-img" width="560" height="315" src="https://www.youtube.com/embed/BzhjEphkQzQ?si=tLJ2xcxEjxIQvOIA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <figcaption class="figure-caption">{{ _('[Coming Soon] Watch this video to find out more about the Zambia Research and Evaluation Repository') }}</figcaption>
            </figure>
        </div>
    </div>
{% endblock %}

{% block bottom_container %}{% endblock bottom_container %}
